mixin menu
  menu.menu&attributes(attributes)
    .menu__item.js-menu-item.menu__item.js-menu-item--active
      a(href="#launch").menu__link
        span.menu__text LAUNCH ICO
    .menu__item.js-menu-item
      a(href="#checklist").menu__link
        span.menu__text CHECKLIST
    .menu__item.js-menu-item
      a(href="#pricing").menu__link
        span.menu__text PRICING
    .menu__item.js-menu-item
      a(href="#teamship").menu__link
        span.menu__text TEAMSHIP
    .menu__item.js-menu-item
      a(href="#faqs").menu__link
        span.menu__text FAQS
