mixin project-nav
  .project-nav&attributes(attributes)
    a.project-nav__item.project-nav__item--active All
    a.project-nav__item Advisory
    a.project-nav__item Strategy
    a.project-nav__item Consulting
    a.project-nav__item Management
