---
title: Portfolio
lang: en
---
extends layouts/_layout

block content
  main.post
    section.section
      .container-fluid
        .container
          .row
            .col-12
              .align-center
                h1.h1 Category: Coin
            .col-12.col-md-4.padding-vertical
              h2.h2 Search
              +post-search
            .col-12.col-md-8.padding-vertical
              - var n = 0
              while (n < 9)
                +post-inner(data=n++)
