mixin post-inner
  .post-inner&attributes(attributes)
    h2.h2
      a(href="./post.html").post-inner__title How Crypto Begun and Its Impact To Financial Transactions
    .post-inner__header
      .post-inner__item
        span By admin
        a(href="#").link admin
      .post-inner__item
        span In
        a(href="#").link Coin
        a(href="#").link ICO
        a(href="#").link Token
      .post-inner__item
        span Posted 20 July
    a(href="./post.html").post-inner__href
      img(src="https://ld-wp.template-help.com/wordpress_prod-19263/v1/wp-content/uploads/2018/07/1-proj-1170x650.png").img.margin
    p.post-inner__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda distinctio error esse est eum eveniet fuga id illo maiores molestiae, odit qui quibusdam reiciendis rerum tempora tempore totam voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolorem eum explicabo inventore iusto nostrum, officia quaerat quibusdam repellendus vero? Alias cupiditate dolorem iste iusto laboriosam minima optio perferendis veritatis.

    .row.f-align-center
      .col-6
        a(href="./post.html").post-inner__comments
          i.fas.fa-comment
          span 0
      .col-6
        .align-right
          +button('More').button--secondary.post-inner__button
