mixin timer
  .timer&attributes(attributes)
    .timer__cell
      .timer__value 17
      .timer__label Days
    .timer__cell
      .timer__value 21
      .timer__label Hours
    .timer__cell
      .timer__value 33
      .timer__label Minutes
    .timer__cell
      .timer__value 22
      .timer__label Seconds
