mixin subtitle(title, text)
  .subtitle&attributes(attributes)
    h2.h2.subtitle__head= title
    if (text)
      .subtitle__text= text
    else
      .subtitle__text Lorem ipsum dolor sit amet, consectetur
        b adipisicing
        | elit. Aliquam distinctio facilis fugiat fugit, in non, nostrum, officiis omnis perferendis repudiandae velit voluptate voluptatum?
