mixin table
  .table&attributes(attributes)
    .table__row
      .table__cell
        p Name Price:
      .table__cell
        b Big Pre-Sale March 12, 2018, Friday 9:00 AM
    .table__row
      .table__cell
        p Hard Cap:
      .table__cell
        b $5 000 000
    .table__row
      .table__cell
        p Exchange Rate:
      .table__cell
        b 1 ETH = up to 300,000 STMX
