mixin range
  .range&attributes(attributes)
    .row.f-justify-spaced
      .col-5.padding-vertical
        .align-left
          p Raised: $42,906.50
      .col-5.padding-vertical
        .align-right
          b $85m
    .range__scale
      .range__value(style="width: 50%")
    .align-center
      p Softcap in 2458 days
