.range {
  margin-bottom: var(--base-margin);

  &__scale {
    @include size(100%, 17px);

    position: relative;
    margin-bottom: 10px;
    border-radius: 11px;
    background-color: rgba(17, 22, 66, 0.9);
    overflow: hidden;
  }

  &__value {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    background-color: var(--color-primary);
  }
}
