.post-search {
  @include flex($align-items: center);

  height: 35px;

  .post-search {

    &__field {
      margin-bottom: 0;
      border: 1px solid var(--color-border);
      border-radius: 4px;
      padding: 8px 12px;
      color: #3b3d42;
      font-size: 14px;

      &::placeholder {
        color: var(--color-text);
      }

      &:focus {
        outline: 0;
        box-shadow: 0 5px 32px rgba(103, 122, 141, 0.17);
      }
    }

    &__button {
      @include size(35px, 100%);
      @include flex(center, center);

      flex-shrink: 0;
      margin-top: 0;
      margin-left: 10px;
      border-radius: 4px;
      padding: 0;
      min-height: 35px;
      color: var(--color-white);
      font-size: 12px;
    }
  }
}
