mixin post-search
  .post-search&attributes(attributes)
    +field(placeholder="Enter keyword search" required).post-search__field
    button.button.button--secondary.post-search__button
      i.fa.fa-search
