mixin project-smart(url)
  a(href="#" target="_blank").project-smart&attributes(attributes)
    .project-smart__img
      img(src=url).img
    .project-smart__content
      h3.h3.project-smart__title How Crypto Begun and Its Impact To Financial Transactions
      .project-smart__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deserunt eligendi ipsum laborum sapiente unde voluptate. Autem consequuntur, distinctio dolore ea labore molestiae nisi nostrum optio quas quasi, quo voluptas.

