mixin post-smart
  a(href="./post.html").post-smart&attributes(attributes)
    .post-smart__content
      h2.h2.post-smart__date 20 july
      h3.h3.post-smart__title How Crypto Begun and Its Impact To Financial Transactions
      .post-smart__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deserunt eligendi ipsum laborum sapiente unde voluptate. Autem consequuntur, distinctio dolore ea labore molestiae nisi nostrum optio quas quasi, quo voluptas.

