:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #2cd97b;
  --color-secondary: #398ffc;
  --color-title: #fff;
  --color-text: #dcdcdc;
  --color-border: #ebeced;
  --gradient-horizontal: linear-gradient(90deg, #4da7cc 21%, #65d1cc 100%);
  --gradient-vertical: linear-gradient(180deg, #313dba 0%, #2cd97b 100%);
}
