mixin payments
  .payments&attributes(attributes)
    a(href="#" target="_blank").payments__item
      img(src='https://ld-wp.template-help.com/wordpress_prod-19263/v1/wp-content/uploads/2018/07/visa.svg').img.payments__img
    a(href="#" target="_blank").payments__item
      img(src='https://ld-wp.template-help.com/wordpress_prod-19263/v1/wp-content/uploads/2018/07/mastercard.svg').img.payments__img
    a(href="#" target="_blank").payments__item
      img(src='https://ld-wp.template-help.com/wordpress_prod-19263/v1/wp-content/uploads/2018/07/bitcoin.svg').img.payments__img
